.navbar{
    text-align: center;
}

[text-color="my-custom-color"] {
    color: #00AC7D;
}

.score{
    font-size: 44px;
    text-align: center;
}

ion-card-header{
    font-weight: bold;
    background-color: #F5C338;
    text-align: center;
}

button:hover{
    background-color: #d6d6d6;
}