.navbar{
    text-align: center;
}

[text-color="my-custom-color"] {
    color: #00AC7D;
}

.scroll-content{
    background-color: #dbdad9;
}

.center{
    text-align: center;
}

.lowerLevel{
    background-color: #104d63;
    color: white;
}

.lineBreak{
    background-color: lightgray;
    height: 1px;
}